.container__companies-employes{
    height: 100%;
    display:flex;
    .container__companies-employes__title{
        color:blue;
    }
    text-align: center;
    .container__companies-employes__form, .container__companies-employes__list{
        width: 100%;
        margin: auto;
        label, input,select{
            font-family: Publica Sans Bold;
            display: block; 
            width: 100%;
        }
        button{
            color:blue;
        }
        #form__companies-employes{
            display: inline-block; 
            margin:auto;
            width: 30%;
            color:red;
            .logo-companies{
                height: 80px;
            }
        }
    }
    .pagination-center{
        nav{
            .pagination{
                display: flex;
                justify-content: center;
            }
        }
    }
    .container__companies-employees__list{
        display: inline-block; 
        margin:auto;
        .list__tbody-td{
            justify-content: space-around;
            display: flex;
            text-align: center;
        } 
        .logo-companies{
            height: 50px;
        }
    }
}