$mainOrange: #F16136;
$secondaryOrange: #FA8133;
$thirdOrange: #73493C;

$mainGray: #707070;
$secondaryGray:#707070;
$mainBlue: #3BA8B4;

$sizeHeigthMenu: 90px;
$navbarMenu__fontSize-lg: 1.2rem;
$navbarMenu__fontSize-med: 1.0rem;
$navbarMenu__fontSize-sm: 1.2rem;

$transitionDefault: 0.5s all;

//Media 
$xl: 1920px; 
$lg: 1150px; 
$lgm: 960px;
$med: 640px;  
$sm: 320px;  

// $xl: 87.5em; // 1400px | Desktop 4k e de alta resolução 
// $lg: 60em;   // 960px | Laptops de 1080 e alta resolução 
// $med: 40em;  // 640px | Tablets de alta resolução e laptops de baixa resolução 
// $sm: 28em;   // 448px | Tablets móveis e de baixa resolução 
// $xs: 20em;   // 320px | Apenas móvel

@font-face {
    font-family: 'Publica Sans Black';
    src: url('../../../public/fonts/PublicaSans-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Publica Sans Black Italic';
    src: url(../../../public/fonts/PublicaSans-BlackItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Bold';
    src: url(../../../public/fonts/PublicaSans-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Bold Italic';
    src: url(../../../public/fonts/PublicaSans-ExtraBoldItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Light';
    src: url(../../../public/fonts/PublicaSans-ExtraLight.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Light Italic';
    src: url(../../../public/fonts/PublicaSans-ExtraLightItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Italic';
    src: url(../../../public/fonts/PublicaSans-ItaliC.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Light';
    src: url(../../../public/fonts/PublicaSans-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Light Italic';
    src: url(../../../public/fonts/PublicaSans-LightItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Medium';
    src: url(../../../public/fonts/PublicaSans-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Medium Italic';
    src: url(../../../public/fonts/PublicaSans-MediumItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Thin';
    src: url(../../../public/fonts/PublicaSans-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Thin Italic';
    src: url(../../../public/fonts/PublicaSans-ThinItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Ultra Light';
    src: url(../../../public/fonts/PublicaSans-UltraLight.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Ultra Light Italic';
    src: url(../../../public/fonts/PublicaSans-UntraLightItalic.otf) format('opentype');
}

