$mainOrange: #F16136;
$secondaryOrange: #FA8133;
$thirdOrange: #73493C;
$mainGray: #707070;


@font-face {
    font-family: 'Publica Sans Black';
    src: url(../../../fonts/PublicaSans-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Black Italic';
    src: url(../../../fonts/PublicaSans-BlackItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Bold';
    src: url(../../../fonts/PublicaSans-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Bold Italic';
    src: url(../../../fonts/PublicaSans-ExtraBoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Extra Light';
    src: url(../../../fonts/PublicaSans-ExtraLight.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Extra Light Italic';
    src: url(../../../fonts/PublicaSans-ExtraLightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Extra Italic';
    src: url(../../../fonts/PublicaSans-ItaliC.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Extra Light';
    src: url(../../../fonts/PublicaSans-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Light Italic';
    src: url(../../../fonts/PublicaSans-LightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Medium';
    src: url(../../../fonts/PublicaSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Medium Italic';
    src: url(../../../fonts/PublicaSans-MediumItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Thin';
    src: url(../../../fonts/PublicaSans-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Thin Italic';
    src: url(../../../fonts/PublicaSans-ThinItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Ultra Light';
    src: url(../../../fonts/PublicaSans-UltraLight.otf) format('opentype');
}

@font-face {
    font-family: 'Publica Sans Ultra Light Italic';
    src: url(../../../fonts/PublicaSans-UntraLightItalic.otf) format('opentype');
}

