$mainOrange: #F16136;
$secondaryOrange: #FA8133;
$thirdOrange: #73493C;

$mainGray: #707070;
$secondaryGray:#707070;
$mainBlue: #3BA8B4;

@font-face {
    font-family: 'Publica Sans Black';
    src: url('../../../public/fonts/PublicaSans-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Publica Sans Black Italic';
    src: url(../../../public/fonts/PublicaSans-BlackItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Bold';
    src: url(../../../public/fonts/PublicaSans-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Bold Italic';
    src: url(../../../public/fonts/PublicaSans-ExtraBoldItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Light';
    src: url(../../../public/fonts/PublicaSans-ExtraLight.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Light Italic';
    src: url(../../../public/fonts/PublicaSans-ExtraLightItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Italic';
    src: url(../../../public/fonts/PublicaSans-ItaliC.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Extra Light';
    src: url(../../../public/fonts/PublicaSans-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Light Italic';
    src: url(../../../public/fonts/PublicaSans-LightItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Medium';
    src: url(../../../public/fonts/PublicaSans-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Medium Italic';
    src: url(../../../public/fonts/PublicaSans-MediumItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Thin';
    src: url(../../../public/fonts/PublicaSans-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Thin Italic';
    src: url(../../../public/fonts/PublicaSans-ThinItalic.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Ultra Light';
    src: url(../../../public/fonts/PublicaSans-UltraLight.otf) format('opentype');
}
@font-face {
    font-family: 'Publica Sans Ultra Light Italic';
    src: url(../../../public/fonts/PublicaSans-UntraLightItalic.otf) format('opentype');
}

